body{
    background:url('img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.input-masking--wrapper{
    position:relative;
    top:25%;
    text-align: center;
    background: #fff;
    font-size:16px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    width: 35%;
    padding:25px;
}
.input--field{
    margin-bottom:10px;
    text-align:left;
    border:none;
    border-bottom:solid 1px #e1e1e1;
    outline:none;
    background:none;
}
.input--label{
    font-size:14px;
    color:#000;
    line-height:20px;
    margin-bottom:10px;  
}
.input-masking--heading{
    font-size:24px;
    font-weight:500;
    margin-bottom:20px;
}
.input-label--wrapper{
    text-align:left;
}